@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Abstract Groovy';
    src: url('../assets_old/fonts/aAbstractGroovy.ttf') format('truetype'),
    url('../assets_old/fonts/aAbstractGroovy.otf') format('opentype');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.option_body {
    background-image: url('../assets_old/main_menu/bgs/main_bg_cave.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

#menu-container {
    background-image: url('../assets_old/main_menu/bgs/main_bg_cave.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #ff0044;
    margin: 30px 0;
}

.main_title {
    font-family: 'Abstract Groovy', sans-serif;
    font-size: 7.5rem;
    color: #ff0044;
    margin: 0;
}

.sub_title {
    font-family: 'Abstract Groovy', sans-serif;
    font-size: 4.5rem;
    color: rgb(255, 106, 0);
    margin: 30px 0;
}

.logo {
    width: 4.5rem;
    height: auto;
}

.menu_button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 3rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

button:active {
    transform: translateY(2px);
}

/* settings option */
#options-container {
    background-color: rgba(0, 0, 0, 0.5); /* Darker background for better readability */
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100vh;
    /*background-image: url('../assets_old/main_menu/bgs/main_bg_cave.jpg');*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
    /*color: white;*/
}

.sub_title {
    font-family: 'Abstract Groovy', sans-serif;
    font-size: 4.5rem;
    color: rgb(255, 106, 0);
    margin: 30px 0;
}

.binding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.binding label {
    flex: 8;
    text-align: right;
    margin-right: 10px;
}

.key-input {
    flex: 2;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    max-width: 80px; /* Fixed width */
}

.reset-button {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

.reset-button:hover {
    background-color: #d32f2f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

#save-button, #back-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save-button:hover, #back-button:hover {
    background-color: #66bb6a;
}

@media (max-width: 768px) {
    .sub_title {
        font-size: 2.5rem;
    }
    .key-input {
        margin: 0 5px;
    }
    .reset-button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .sub_title {
        font-size: 2rem;
    }
    .key-input {
        margin: 0 5px;
    }
    .reset-button {
        padding: 6px;
    }
}
