@font-face {
    font-family: 'Abstract Groovy';
    src: url('../assets_old/fonts/aAbstractGroovy.ttf') format('truetype'),
    url('../assets_old/fonts/aAbstractGroovy.otf') format('opentype');
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#menu-container {
    background-image: url('../assets_old/main_menu/bgs/main_bg_cave.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #ff0044;
    margin: 30px 0;
}

.main_title {
    font-family: 'Abstract Groovy', sans-serif;
    font-size: 7.5rem;
    color: #ff0044;
    margin: 0;
}

.sub_title {
    font-family: 'Abstract Groovy', sans-serif;
    font-size: 4.5rem;
    color: rgb(255, 106, 0);
    margin: 30px 0;
}

.logo {
    width: 4.5rem;
    height: auto;
}

button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 2rem; /* Ajoute un espace horizontal entre les boutons */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

button:active {
    transform: translateY(2px);
}

/* Options Container */
#options-container {
    background-image: url('../assets_old/main_menu/bgs/main_bg_cave.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

/* Adjust the existing styles for the .binding elements */
.binding {
    display: flex;
    align-items: center; /* Vertically center items within each .binding */
    justify-content: space-between; /* Add space between label, input, and button */
    margin-bottom: 10px; /* Add space between each .binding */
}

/* Header for Options Page */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Key Binding Options */
.key-binding {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px 20px;
    display: flex;
    justify-content:
            space-between;
    align-items: center;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.key-binding label {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
}

.key-input {
    flex-grow: 2;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.reset-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    display: block; /* Make the buttons block-level elements */
    margin-top: 10px; /* Add space above each button */
}

.reset-button:hover {
    background-color: #d32f2f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
}

#save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save-button:hover {
    background-color: #66bb6a;
}

#menu-container img {
    max-width: 100%;
    height: auto;
}

h1, button {
    margin: 3vh 0;
    padding: 1vh 2vh;
    font-size: calc(1rem + 1vw);
}

/* Media queries pour les tablettes */
@media (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem + 2vw);
    }

    button {
        font-size: calc(0.8rem + 1vw);
        padding: 8px 16px;
    }
}

/* Media queries pour les téléphones mobiles */
@media (max-width: 480px) {
    h1 {
        font-size: calc(1.2rem + 2vw);
    }

    button {
        font-size: calc(0.7rem + 1vw);
        padding: 6px 12px;
    }
    #menu-container {
        padding: 5vh 5vw;
    }
}
