body {
    background-image: url('../assets/grass.png');
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    display: block;
    border: 1px solid black;
}
