html,
body,
#game-container {
    margin: 0;
    padding: 0;
    background-image: url('../assets/game_bg.jpg'); /* Remplacez par l'URL de votre image de fond */
    background-size: cover;
    background-position: center;
    height: 100%; /* Assurez que le conteneur occupe toute la hauteur */
    overflow: hidden; /* Empêche le défilement */
}

#game-container {
    width: 100vw;
    height: 100vh; /* Assurez que le conteneur occupe toute la hauteur de la fenêtre */
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-container>canvas {
    border-radius: 5px;
}
