<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ALGOREALM - Options</title>
    <link rel="icon" type="image/png" href="../../Images/Menu/gemme_logo.png">
    <link rel="stylesheet" href="../Medias/styles.css">
</head>
<body>
<div id="options-container">
    <h2>Options</h2>
    <div class="bindings">
        <div class="binding">
            <label for="up-key">Déplacement vers le haut:</label>
            <input type="text" id="up-key" class="key-input" maxlength="1">
            <button class="reset-button">Reset</button>
        </div>
        <div class="binding">
            <label for="down-key">Déplacement vers le bas:</label>
            <input type="text" id="down-key" class="key-input" maxlength="1">
            <button class="reset-button">Reset</button>
        </div>
        <div class="binding">
            <label for="left-key">Déplacement vers la gauche:</label>
            <input type="text" id="left-key" class="key-input" maxlength="1">
            <button class="reset-button">Reset</button>
        </div>
        <div class="binding">
            <label for="right-key">Déplacement vers la droite:</label>
            <input type="text" id="right-key" class="key-input" maxlength="1">
            <button class="reset-button">Reset</button>
        </div>
    </div>
    <div class="button-container">
        <button id="save-button">Sauvegarder</button>
        <button id="back-button">Retour</button>
    </div>
</div>
<script src="../Medias/script.js"></script>
</body>
</html>
